  <section id="what-pf">
    <div class="container">
      <div class="what-pf-content">
        <div class="pf-heading">
          <h1>Portfolio</h1>
        </div>
        <div class="what-pf-img-box">
          <img src="img/DAJAART_top.png" alt="">
        </div>
        <div class="what-pf-text-box">  
          <h3>What's Portfolio</h3>
          <ul>
            <li>〇〇に有利！！</li>
            <li>hogehogehogehogehoge</li>
            <li>ポートフォリオを作ろう！！</li>
          </ul>
        </div>
      </div>
      
    </div>
  </section>
  <section id="portfolios">
    <div class="container">
      <h1 class="pf-heading">Portfolios</h1>
      <div class="row first-row">
        <div class="porfolio-card card">
          <div class="pf-img"></div>
          <div class="author-img"><%= image_tag('no-image.png', :class => "img") %></div>
          
          <div class="pf-title">タイトルが入ります</div>

          <div class="pf-text">hogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehoge</div>
        </div>
        
        <div class="porfolio-card card">
          <div class="pf-img"></div>
          <div class="author-img"><%= image_tag('no-image.png', :class => "img") %></div>
          
          <div class="pf-title">タイトルが入ります</div>

          <div class="pf-text">hogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehoge</div>
        </div>

        <div class="porfolio-card card">
          <div class="pf-img"></div>
          <div class="author-img"><%= image_tag('no-image.png', :class => "img") %></div>
          
          <div class="pf-title">タイトルが入ります</div>

          <div class="pf-text">hogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehoge</div>
        </div>


      </div>

      <div class="row first-row">
        <div class="porfolio-card card">
          <div class="pf-img"></div>
          <div class="author-img"><%= image_tag('no-image.png', :class => "img") %></div>
          
          <div class="pf-title">タイトルが入ります</div>

          <div class="pf-text">hogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehoge</div>
        </div>
        
        <div class="porfolio-card card">
          <div class="pf-img"></div>
          <div class="author-img"><%= image_tag('no-image.png', :class => "img") %></div>
          
          <div class="pf-title">タイトルが入ります</div>

          <div class="pf-text">hogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehoge</div>
        </div>

        <div class="porfolio-card card">
          <div class="pf-img"></div>
          <div class="author-img"><%= image_tag('no-image.png', :class => "img") %></div>
          
          <div class="pf-title">タイトルが入ります</div>

          <div class="pf-text">hogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehoge</div>
        </div>


      </div>
    </div>
  </section>