

 <div class="top-title">
 <h1>We are PPF</h1>
 <p>繋がる×広がる</p>
<h1>Connect×Area</h1>
</div>

<div class="top-sub">
<div class="top-content-top">
<nav>
  <ul>
    <li class="top-li"><%= link_to "Concept", concept_path %></li>
    <li class="top-li"><%= link_to "What'sPPF", about_path %></li>
    <li class="top-li"><%= link_to "Portfolios", portfolios_index_path %></li>
  </ul>
</nav>
</div>

<div class="top-content-sub">
<nav>
  <ul>
    <li class="top-li"><%= link_to "Member", "/members/index" %></li>
    <li class="top-li"><%= link_to "Activity", activity_path %></li>
    <li class="top-li"><%= link_to "Contact", contact_path %></li>
  </ul>
</nav>

</div>

