<div class="big-container">
    <div class="container">
    <div class="event-site">
       <div class="activity row">
        <div class="col-xs-3 col-sm-4 col-md-12">Activity</div>
       </div>
   </div>
   </div>
   <div class="event-head">
     <nav class="event-nav">
      <ul>
       <li><a href="#">Event</a></li>
       <li><a href="#">Programming</a></li>
       <li><a href="#">Skill IN Business</a></li>
       <li><a href="#">Portfolio</a></li>
      </ul>
     </nav>
   </div>
      
  <div class="boxA">
    <div clas="container">
    <div class="event-box row">

     <div class="col-xs-12">
       <article class="event-article">
         <div class="new">NEW!!</div>
          <% @posts.each do |post| %>
              <h1><%= link_to post.title, post_path(post.id) %><br>
              <!-- <font color="red">❤</font> -->
              <%= post.created_at.strftime('%Y/%m/%d %H:%M') %></h1>
              <div class="new-events">
               <%= image_tag('img.png', :size => "200x200", :class => "new-event") %>
              </div>
          <% end %>
          
          <p class="event-sentence"></p>
       </article>
       <%= paginate @posts %>
     </div>

    </div>
  </div>

    <div class="side-box">
       <aside class="event-side">
         <h2>人気記事</h2>
          <ul>
            <% @posts_new.each do |post| %>
                <li><a><%= link_to post.title, post_path(post.id) %>
                <!-- <font color="red">❤</font> -->
                <%= post.created_at.strftime('%Y.%m.%d') %></a></li>
            <% end %>   
          </ul>   
       </aside>

      <aside class="event-side-osu">
        <h2>おすすめ記事</h2>
          <ul>
            <% @posts_new.each do |post| %>
                <li><a><%= link_to post.title, post_path(post.id) %>
                <!-- <font color="red">❤</font> -->
                <%= post.created_at.strftime('%Y.%m.%d') %></a></li>
            <% end %>   
          </ul>   
      </aside>

<!--       <aside class="event-side-kako">
        <h2>過去記事</h2>
          <ul>
             <li><a href="#">2016.11.11</a></li>
             <li><a href="#">2016.11.24</a></li>
             <li><a href="#">2016.11.30</a></li>
             <li><a href="#">2017.01.20</a></li>
          </ul>   
      </aside>
 -->    </div>
  </div>
</div>

<%= link_to "一覧に戻る", '/activity' %>
<%= link_to "新規投稿", posts_new_path %>